<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <% if @us.size > 0 %>
      The toys this user is a part of are </br>
      <% @us.all.each do |ti| %>
        <%= ti.name %></br>
      <% end %>
    <% end %>
  </div>
</div>
